<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Car</title>
    <link rel="stylesheet" href="/css/style1.css" />
</head>

<body>
<div class="container">
    <div class="jumbotron">
        <h1>DANH SÁCH 10 XE Ô TÔ BÁN CHẠY THÁNG 11 - 2020</h1>
    </div>
    <div class="d-flex">
        <div th:each="car: ${cars}" class="d-flex flex-column align-items-center">
            <img th:attr="src=@{'/image/' + ${car.id} + '.jpg'}, alt=${car.name}" width="100px", height="100px" />
            <span th:text="${car.name + ' : ' + car.price}"></span>
        </div>
    </div>
</div>
</body>

</html>