<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Car Store</title>

</head>
<body>

<div class="container">
    <div class="header">
        <a href="/topcar">Trang đầu</a>&nbsp;&nbsp;
        <a href="/topcar/add">Thêm mới</a>&nbsp;&nbsp;
        <a href="/topcar/search">Tìm kiếm</a><br>
    </div>
    <div class="box-header">
        <h2>Danh Sách Xe Bán Chạy</h2>
    </div>
    <ul th:each="topcar: ${topcars}">
            <div class="box-container">
                <div class="boxR">
                    <a th:href="@{/topcar/{id}(id=${topcar.id})}"><strong th:text="${topcar.model}"></strong></a><br>
                    <img th:attr="src=@{'/images/' + ${topcar.photo}}, alt=${topcar.model}"/>
                </div>
                <div class="boxL">
                    <div class="fontName font">
                        <p>Manufacter</p>
                        <p>Price</p>
                        <p>Sales</p>
                    </div>
                    <div class="fontName">
                        <p th:text="${topcar.manufacter}"></p>
                        <p th:text="${topcar.price}"></p>
                        <p th:text="${topcar.sales}"></p>
                    </div>
                </div>
            </div>
    </ul>
</div>

</body>
</html>