<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Car Store</title>

</head>
<body>
  <a href="/topcar">Trang đầu</a>&nbsp;&nbsp;
  <a href="/topcar/add">Thêm mới</a>&nbsp;&nbsp;
  <a href="/topcar/search">Tìm kiếm</a><br>
  <ul>
    <li th:each="topcar: ${topcars}">
      <a th:href="@{/topcar/{id}(id=${topcar.id})}"><strong th:text="${topcar.model}"></strong></a><br>
      <img th:attr="src=@{'/images/' + ${topcar.photo}}, alt=${topcar.model}"/>
      <p th:text="${topcar.manufacter}"></p>
      <p th:text="${topcar.price}"></p>
      <p th:text="${topcar.sales}"></p>
    </li>
  </ul>
</body>
</html>